{% extends 'base.html' %}

{% block title %}Главная страница{% endblock %}

{% block content %}


    <section id="popular_tovar" class="pd40">
        <div class="container">
            <div class="flex flex_zag">
                <div><h2>Популярно</h2></div>
                 <div><a href="">Смотреть все</a></div>
            </div>

            <div class="swiper-container-dop">
    <div class="swiper-wrapper">
        {% if tovars_popular %}
            {% for tovar in tovars_popular %}
                <div class="swiper-slide">
                    {% include 'shop/chunk/tovar_card.html' %}
                </div>
            {% endfor %}
        {% endif %}
    </div>

            <script>
    document.addEventListener('DOMContentLoaded', function() {
        const swiper = new Swiper('.swiper-container-dop', {
            slidesPerView: 3, // Количество карточек в ряду
            spaceBetween: 20, // Отступ между карточками
            loop: true, // Бесконечный слайдер
            autoplay: {
                delay: 3000, // Автопрокрутка каждые 3 секунды
                disableOnInteraction: false, // Продолжать автопрокрутку после взаимодействия
            },

        });
    });
</script>
    </div>
    </section>
{% endblock %}