{% extends 'base.html' %}
 {% load static %}


{% block content %}
<div class="container">

    <div class="breadcrumbs">
        <a href="{% url 'index' %}">Главная</a> |
        {% for crumb in breadcrumbs %}
            <a href="{% url 'category_tovar' slug_category=crumb.slug %}">{{ crumb.h1 }}</a> /
        {% endfor %}
        <span>{{ tovar.h1 }}</span>
    </div>

    <div class="nazad">
        <a href="javascript:history.back()">
            <svg width="20.501953" height="6.660950" viewBox="0 0 20.502 6.66095" fill="none" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                <defs/>
                <path id="Vector 2" d="M1.7 2.83L3.68 0.85C3.88 0.65 3.88 0.34 3.68 0.14C3.48 -0.05 3.17 -0.05 2.97 0.14L0.14 2.97C-0.05 3.17 -0.05 3.48 0.14 3.68L2.97 6.51C3.17 6.71 3.48 6.71 3.68 6.51C3.88 6.31 3.88 6 3.68 5.8L1.7 3.83L20.5 3.83L20.5 2.83L1.7 2.83Z" fill="#000000" fill-opacity="1.000000" fill-rule="evenodd"/>
            </svg>
            назад
        </a>
    </div>

    <div class="content_product flex">
        <div class="left">
            {% include 'shop/chunk/gallery.html' %}
        </div>
        <div class="right">
            <div class="opis_tovar">
                <h1>{{ tovar.h1 }}</h1>


            <div class="rows12">
                <div class="item price_item">
                    <div class="price">{{ tovar.price }} ₽ {% if tovar.old_price %}<span class="oldprice">{{ tovar.old_price }} ₽</span>{% endif %}</div>
                </div>
                <div class="item">
                    <div class="ball">+199 AB
                        <div class="tooltip-container">
    <img src="{% static 'images/icon/info.png' %}" alt="Информация">
    <span class="tooltip-text">Начислиться на накопительный счет</span>
</div>
                    </div>

                </div>
            </div>
              <!-- tovar_detail.html -->
<form method="post" action="{% url 'add_to_cart' tovar.id %}" class="add-to-cart-form">
    {% csrf_token %}
    <div class="properties">
        {% for name, value in properties.items %}
            <div class="property">

                {% if name == 'Цвет' or name == 'colors' %}

                    <div class="colors">
                     <span class="colors_row">{{ name }}: <span class="colors_name">{{ value.first.name }}</span></span>
                    <div class="colors_block">
                        {% for color in value.all %}
                            <label>
                                <input type="radio" name="color" value="{{ color.id }}" data-name="{{ color.name }}" required
                                 {% if forloop.first %}checked{% endif %} >
                                <div class="obv"><div class="color-circle" style="background-color: {{ color.code }};" title="{{ color.name }}"></div></div>
                            </label>
                        {% endfor %}
                    </div>
                    </div>
                {% elif name == 'Размер' or name == 'sizes' %}
                    <div class="block_razmer">
                    <div class="form_razmer">
  <select required name="size">
    <!--
      This is how we can do "placeholder" options.
      note: "required" attribute is on the select
    -->
    <option value=""
            hidden
    >Выберите размер</option>

{% for size in value.all %}
 <option value="{{ size.id }}">{{ size.code }}</option>

                    {% endfor %}

  </select>
</div>

                    </div>
                {% else %}
                    <span>{{ value }}</span>
                {% endif %}
            </div>
        {% endfor %}
    </div>
<div class="rows_tov_knop">
     <button type="submit" class="btn btn-primary btn-add-cart">Добавить в корзину</button>
     <button  class="btn btn-primary btn-favor"><svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M17.3671 3.84166C16.9415 3.41583 16.4361 3.07803 15.8799 2.84757C15.3237 2.6171 14.7275 2.49847 14.1254 2.49847C13.5234 2.49847 12.9272 2.6171 12.371 2.84757C11.8147 3.07803 11.3094 3.41583 10.8838 3.84166L10.0004 4.725L9.11709 3.84166C8.25735 2.98192 7.09129 2.49892 5.87542 2.49892C4.65956 2.49892 3.4935 2.98192 2.63376 3.84166C1.77401 4.70141 1.29102 5.86747 1.29102 7.08333C1.29102 8.29919 1.77401 9.46525 2.63376 10.325L3.51709 11.2083L10.0004 17.6917L16.4838 11.2083L17.3671 10.325C17.7929 9.89937 18.1307 9.39401 18.3612 8.83779C18.5917 8.28158 18.7103 7.6854 18.7103 7.08333C18.7103 6.48126 18.5917 5.88508 18.3612 5.32887C18.1307 4.77265 17.7929 4.26729 17.3671 3.84166Z" stroke="#383230" stroke-linecap="round" stroke-linejoin="round"/>
</svg>
</button>
</div>

</form>

            <div class="plusrt">
                <div class="item">
                    <div class="lic"><img src="{% static 'images/icon/pl1.png' %}" alt=""></div>
                    <div class="name_lic">Бесплатная доставка от 5 000 ₽</div>
                </div>
                <div class="item">
                    <div class="lic"><img src="{% static 'images/icon/pl2.png' %}" alt=""></div>
                    <div class="name_lic">–10% при оплате онлайн</div>
                </div>
                <div class="item">
                    <div class="lic"><img src="{% static 'images/icon/pl3.png' %}" alt=""></div>
                    <div class="name_lic">Доступна оплата после примерки</div>
                </div>
            </div>


            <div class="accordion">
    <div class="accordion-item">
        <div class="accordion-header">
            <span class="accordion-title">ОПИСАНИЕ И ОБМЕРЫ</span>
            <span class="accordion-arrow"><svg width="14" height="8" viewBox="0 0 14 8" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M13 1L7 7L1 1" stroke="#383230" stroke-linecap="round" stroke-linejoin="round"/>
</svg>
</span> <!-- Стрелка вниз -->
        </div>
        <div class="accordion-content">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium aspernatur debitis deleniti eum excepturi facere fuga impedit iusto laborum magnam molestias nemo, pariatur quam quibusdam quis recusandae saepe sapiente vero?</p>
        </div>
    </div>

    <div class="accordion-item">
        <div class="accordion-header">
            <span class="accordion-title">ДОСТАВКА И ВОЗВРАТ</span>
            <span class="accordion-arrow"><svg width="14" height="8" viewBox="0 0 14 8" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M13 1L7 7L1 1" stroke="#383230" stroke-linecap="round" stroke-linejoin="round"/>
</svg>
</span> <!-- Стрелка вниз -->
        </div>
        <div class="accordion-content">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eos explicabo hic ipsam magnam sit tempora totam? Aliquid culpa cum, deleniti, dolores facilis harum maiores nulla quasi reprehenderit sed sit tempora. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci animi dolorem eos fuga fugiat fugit illum in iusto nihil praesentium provident quaerat qui quo, repellat reprehenderit sint sit. Est, impedit.</p>
        </div>
    </div>
</div>
            </div>
        </div>
    </div>

<div class="content_product_upsale">
    <h2 class="podzag">Похожие товары</h2>

   <div class="swiper-container-dop">
    <div class="swiper-wrapper">
        {% if tovars %}
            {% for tovar in tovars %}
                <div class="swiper-slide">
                    {% include 'shop/chunk/tovar_card.html' %}
                </div>
            {% endfor %}
        {% endif %}
    </div>

</div>
</div>
<script>
    document.addEventListener('DOMContentLoaded', function() {
        const swiper = new Swiper('.swiper-container-dop', {
            slidesPerView: 3, // Количество карточек в ряду
            spaceBetween: 20, // Отступ между карточками
            loop: true, // Бесконечный слайдер
            autoplay: {
                delay: 3000, // Автопрокрутка каждые 3 секунды
                disableOnInteraction: false, // Продолжать автопрокрутку после взаимодействия
            },

        });
    });
</script>
</div>

{% include 'shop/chunk/ball_auth.html' %}

{% endblock %}